body {
  margin: 0 auto;
  max-width: 1000px;
}

#root {
  min-height: 100vh;
}

.App {
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-box {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

img {
  display: block;
  max-width: 100%;
}
